.card{
    width: 300px;
    height: 350px;
    perspective: 800px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.card_inner{
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover .card_inner{
    transform: rotateY(180deg);
}

.card__body{
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    color: #fff;
}

.card__body--front{
    background-image: linear-gradient(
        /* -20deg, #16d9e3 0%, #30c7ec 47%,#46aef7 100% */
        -20deg, #ed174b 0%,#006cb7 100%
    );
}

.card__body--back{
    background-image: linear-gradient(
        -20deg, #ed174b 0%,#006cb7 100%
    );
    transform: rotateY(180deg);
}

.img_time{
    width: 150px;
    height: 150px;
    margin-left: 3%;
    margin-right: 0.5%;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;  
}

.botao-salvar{
    width: 30px;
    height: 30px;
    margin-left: 80%;
    background-image: url('../Imagens/salvar3.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-color: transparent;

}

.botao-salvar:active{
    background-image: url('../Imagens/salvar2.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.botao-delete {
    width: 30px;
    height: 30px;
    margin-left: 80%;
    background-image: url('../Imagens/delete.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
  }

.botao-delete:active {
  background-image: url('../Imagens/delete2.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
